@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Playfair+Display|Lora|Lato:300,400,700&display=swap');

html {
  height: 100%;
}

body {
  background: #ad5389;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
}

.quiz-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato';
}

.question-and-answers {
  padding: 20px 20px 40px;
  margin: 20px;
  width: 500px;
}

@media screen and (max-device-width: 1024px)  {
  .question-and-answers, .results-container {
    width: 100%;
  }
}

.question {
  color: #ffffff;
  margin: 20px;
  text-align: justify;
  font-size: 18px;
  font-family: 'Merriweather';
  font-weight: 300;
}

.answer-option {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
}

.results-container {
  width: 500px;
  height: 500px;
  padding: 20px 20px 40px;
  margin: 20px;
}

.title {
  font-family: 'Merriweather';
  font-weight: 800;
  text-align: center;
  font-size: 40px;
}

.image-container {
  height: 200px;
  width: 200px;
}

.gryffindor {
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
}

.gryffindor-crest {
  background: url(../assets/gryffindor.png) no-repeat center;
}

.hufflepuff {
  background: #fceabb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #967a31;
}

.hufflepuff-crest {
  background: url(../assets/hufflepuff.png) no-repeat center;
}

.slytherin {
  background: #636363;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #a2ab58, #636363); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #0B3A0B;
}

.slytherin-crest {
  background: url(../assets/slytherin.png) no-repeat center;
}

.ravenclaw {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
}

.ravenclaw-crest {
  background: url(../assets/ravenclaw.png) no-repeat center;
}

.house-crest {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 200px;
  width: auto;
}

.house-description {
  text-align: center;
}