@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Playfair+Display|Lora|Lato:300,400,700&display=swap');

body {
  background-color: #ffffff;
}

.quiz-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato';
}

.question-and-answers {
  background-color: #e8e8e8;
  width: 100vh;
  height: 100vh;
  padding: 20px 20px 40px;
  margin: 20px;
}

.question {
  color: #050708;
  margin: 20px;
  text-align: justify;
  font-size: 18px;
  font-family: 'Merriweather';
  font-weight: 300;
}

.answer-option {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
}

.results-container {
  width: 100vh;
  height: 100vh;
  padding: 20px 20px 40px;
  margin: 20px;
}

.title {
  font-family: 'Merriweather';
  font-weight: 800;
  text-align: center;
  font-size: 40px;
}

.house-crest {
  height: 200px;
  width: 200px;
}

.gryffindor {
  background-color: #DDCCBF;
  color: #B12517;
}

.gryffindor-description {
  color: #7E0100;
}

.gryffindor-crest {
  background: url(../assets/gryffindor.png)
}

.hufflepuff {
  background-color: #E2DDD0;
  color: #D3AF53;
}

.hufflepuff-description {
  color: #B68653;
}

.hufflepuff-crest {
  background: url(../assets/hufflepuff.png)
}

.slytherin {
  background-color: #DBEBD1;
  color: #0B3A0B;
}

.slytherin-description {
  color: #486E2F;
}

.slytherin-crest {
  background: url(../assets/slytherin.png)
}

.ravenclaw {
  background-color: #D3D3D3;
  color: #1E3888;
}

.ravenclaw-description {
  color: #0E1A40;
}

.ravenclaw-crest {
  background: url(../assets/ravenclaw.png)
}